# Python
__pycache__/
*.py[cod]
*$py.class

# Flask
instance/
.webassets-cache

# Environment variables
.env
.venv
env/
venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Logs
*.log
logs/